body {
    margin: 0;
    background-color: #16697A;
    font-family: "Inter", system-ui;
    font-weight: 300;
    color: white;
    font-style: normal;
}

.markdownx-editor {
    font-family: monospace;
    white-space: pre-wrap;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
}

pre code, code {
    white-space: pre-wrap;
    padding: 2px 4px;
    color: #1f1e24;
    background-color: #ececef;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
}


@media (max-width: 768px) {
    .logo {
        height: 20px; /* Smaller logo for smaller screens */
    }

    h1 {
        font-size: 16px; /* Smaller font size for the h1 on smaller screens */
    }
}

.login-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
}

.login-container h2 {
    text-align: center;
}

.text-muted {
    color: #ffffff !important;
}

a {
    color: #555555;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #333333;
    text-decoration: none;
    background-color: transparent;
}

.btn-primary {
    color: #fff;
    background-color: #ffa62b;
    border-color: #ffa62b;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ff9100;
    border-color: #ff9100;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c5313f;
    border-color: #c5313f;
}

.login-container form {
    margin-top: 20px;
}

.header {
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: flex-start; /* Horizontal alignment */
}

.logo {
    margin-right: 1px; /* Adjust spacing between the logo and the h1 */
    margin-top: 10px;
    height: 50px;  /* Set the height of the logo */
    width: auto;   /* Adjust the width automatically to keep the aspect ratio */
}

.sidebar-logo {
    padding: 20px;
    width: 90%;
    max-width: 260px;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-logo img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 1.5rem;
    margin-top: 0;
    padding-top: 20px;
    color: white;
    font-family: "Flamenco", system-ui;
    font-weight: 500;
    font-style: normal;
    margin-left: 0;
}

h2 {
    font-size: 1.25rem;
    line-height: 1;
    margin-top: 0;
    padding-top: 20px;
    color: white;
    font-family: "Inter", system-ui;
    font-weight: 300;
    font-style: normal;
    margin-left: 0;
}

h3 {
    font-size: 1rem;
    line-height: 1;
    margin-top: 0;
    padding-top: 20px;
    color: white;
    font-family: "Inter", system-ui;
    font-weight: 300;
    font-style: normal;
    margin-left: 0;
}

h4 {
    font-size: 1rem;
    line-height: 1;
    margin-top: 0;
    padding-top: 20px;
    color: white;
    font-family: "Inter", system-ui;
    font-weight: 300;
    font-style: normal;
    margin-left: 0;
}

textarea {
    height: 90vh;
    width: 60%;
}

.main, .search {
    padding: 10px;
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}


.sidebar {
    background-color: #555555;
    color: #fff;
    min-height: 100vh;
    width: 240px;
    padding: 20px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #555555; /* Adjust the color to match your design */
}

.sidebar h2 {
    margin-top: 5px;
}

.sidebar-title {
    font-family: "Flamenco", cursive;
    font-weight: 400;
    color: #fff; /* Text color for the title */
}

.sidebar-menu {
    padding: 10px;
}

.sidebar-link {
    display: block;
    padding: 10px;
    color: #b8b8b8; /* Text color for the links */
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar-link:hover {
    background-color: #919191; /* Background color on hover */
    border-radius: 12px;
    color: #fff; /* Text color for the links */
}

.flamenco-light {
    font-family: "Flamenco", system-ui;
    font-weight: 300;
    font-style: normal;
}

.flamenco-regular {
    font-family: "Flamenco", system-ui;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: small;
    font-style: normal;
    color: white;
}