{% extends "issues/layout.html" %}

{% block title %}
New Page - Templates
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="display-4 mb-4">Create New Template</h1>
    <p class="mb-4">Enter the title and content for your new template entry. Use Markdown for formatting.</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="id_title" class="form-label">Title:</label>
            <input type="text" name="title" id="id_title" class="form-control" value="{{ title }}" required>

        </div>
        <div class="form-group mb-3">
            <label for="id_content" class="form-label">Content:</label>
            <textarea name="content" id="id_content" class="form-control" rows="10" required></textarea>
            <small class="form-text text-muted">
                Supports Markdown formatting. For help with Markdown, see the
                <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Markdown guide.</a>
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}