{% extends "issues/layout.html" %}

{% block title %}
Delete {{ title }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="display-4 mb-4">Delete {{ title }}</h1>
    <p>Are you sure you want to delete "{{ title }}"?</p>
    <form action="{% url 'delete' title=title %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}