{% extends "issues/layout.html" %}

{% block title %}
Edit {{ title }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="display-4 mb-4">Edit {{ title }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ title }}" />
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content:</label>
            <textarea class="form-control" id="content" name="content" rows="10">{{ content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}
