{% extends "issues/layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div class="container d-flex flex-column mt-4">
    <div class="flex-grow-1">
        <h1 class="display-4">{{ title }}</h1>
        <div class="mt-4">
            <div id="markdown-content">{{ entry|safe }}</div>
        </div>
    </div>
    <div class="mt-3">
        <a href="{% url 'edit' title=title %}" class="btn btn-primary">Edit Entry</a>
        <a href="{% url 'delete' title=title %}" class="btn btn-danger">Delete Entry</a>
    </div>
</div>
{% endblock %}


