{% extends "issues/layout.html" %}

{% block title %}
{{ title|default:"Search Results" }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="display-4 mb-4">{{ title }}</h1>
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Template Not Found!</h4>
        <p>getBizzy does not have an template with this exact name. Here are some things you can try:</p>
        <ul>
            <li>Search for <strong><a href="{% url 'search' %}?q={{ title }}" class="alert-link">{{ title }}</a></strong> in Templates to check for alternative titles or spellings.</li>
            <li>Remember, titles on Templates are case sensitive. Please check for alternative capitalizations.</li>
        </ul>
        <p>Or, if you'd like, you can <a href="{% url 'add' %}?title={{ title }}" class="btn btn-primary">Create New Page</a> for "{{ title }}".</p>
    </div>
</div>
{% endblock %}
