{% extends "issues/layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="display-4 mb-4">{{ title }} - Duplicate Template Title</h1>
    <div class="alert alert-danger" role="alert">
        <p>getBizzy already has an template with this exact name. Please try a different title or <a href="{% url 'edit' title=title %}" class="alert-link">edit the existing article</a>.</p>
        <button onclick="history.back()" class="btn btn-primary">Go Back</button>
    </div>
</div>
{% endblock %}
