{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}getBizzy{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-3 col-lg-2 p-0 bg-dark flex-shrink-1">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark align-items-start flex-md-column flex-row">
                <a href="{% url 'index' %}" class="sidebar-logo"><img src="{% static 'logoWhite.png' %}" alt="Logo"></a>
                <form action="{% url 'search' %}" method="GET" class="w-100">
                    <div class="input-group">
                        <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search getBizzy" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="sidebarMenu">
                    <ul class="navbar-nav flex-column w-100 justify-content-start">
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link active">View Templates</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'add' %}" class="nav-link">Add Issue Template</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
            {% block body %}
            {% endblock %}
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/js/all.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script>
    function loadScript(url) {
        return new Promise((resolve, reject) => {
            const script = document.createElement("script");
            script.type = "text/javascript";
            script.onload = resolve;
            script.onerror = reject;
            script.src = url;
            document.head.appendChild(script);
        });
    }

    async function initializeMarkdownIt() {
        try {
            await loadScript("https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js");
            await loadScript("https://cdn.jsdelivr.net/npm/markdown-it-emoji/dist/markdown-it-emoji.min.js");
            await loadScript("https://cdn.jsdelivr.net/npm/markdown-it-checkbox/dist/markdown-it-checkbox.min.js");

            const md = markdownit().use(markdownitEmoji).use(markdownitCheckbox);
            const markdownContent = document.getElementById('markdown-content');
            if (markdownContent) {
                const rawMarkdown = markdownContent.textContent || "No content loaded";
                markdownContent.innerHTML = md.render(rawMarkdown);
            } else {
                console.error("No markdown content element found.");
            }
        } catch (error) {
            console.error("Error loading scripts: ", error);
        }
    }

    document.addEventListener('DOMContentLoaded', initializeMarkdownIt);
</script>



</body>
</html>