{% extends "issues/layout.html" %}

{% block title %}
New Page - Templates
{% endblock %}

{% block body %}
<form action="{% url 'new' %}" method="post">
    {% csrf_token %}
    <div>
        <input class="form-control" type="text" name="title" placeholder="Template Title" style="max-width: 60%;">
    </div>
    <hr>
    <textarea name="content"><div id="markdown-content">{{ entry|safe }}</div></textarea>
    <div>
        <input class="btn btn-primary" type="submit" value="Save">
    </div>
</form>
{% endblock %}