{% extends "issues/layout.html" %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<h2>User Profile</h2>
<p>Welcome, {{ user.username }}!</p>
{% endblock %}



{% block body %}
<div class="container mt-4">
    <h1 class="display-4 mb-4">All Templates</h1>
    <div class="list-group">
        {% for entry in entries %}
        <a href="{% url 'entry' entry %}" class="list-group-item list-group-item-action">{{ entry }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
