{% extends "issues/layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="display-4 mb-4">Search</h1>
    <h2>"{{ title }}"</h2>
    {% if res %}
    <p>getBizzy does not have a template with this exact name. Titles on getBizzy are case sensitive. Below are some partial matches for "{{ title }}":</p>
    <ul>
        {% for item in res %}
        <li><a href="{% url 'entry' item %}">{{ item }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No matches found for "{{ title }}".</p>
    {% endif %}
</div>
{% endblock %}
