{% extends "issues/layout.html" %}

{% block title %}
{{ Title }}
{% endblock %}

{% block body %}
<h1>Settings</h1>
<h2>Welcome, {{ user.username }}!</h2>
<form method="post">
    {% csrf_token %}
    <h3>Repository Settings</h3>
    {{ repo_form.as_p }}
    <h3>Issue Template Settings</h3>
    {{ template_form.as_p }}
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
<!-- Example of listing existing repositories and templates -->
{% for repo in user.repositories.all %}
<div>{{ repo.repo_name }}</div>
<div>{{ repo.repo_url }}</div>
<!-- Add edit and delete buttons -->
<a href="{% url 'edit_repo' repo.id %}">Edit</a>
<a href="{% url 'delete_repo' repo.id %}">Delete</a>
{% endfor %}

{% for template in repo.issuetemplates.all %}
<div>{{ template.template_name }}</div>
<div>{{ template.content|truncatewords:20 }}</div>
<a href="{% url 'edit_template' template.id %}">Edit</a>
<a href="{% url 'delete_template' template.id %}">Delete</a>
{% endfor %}

{% endblock %}
