/* App.css in src/ directory */

.App {
  display: flex;
}

.content {
  flex-grow: 1;
}

/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  color: white;
  height: 100%;
  width: 100%;
  font-family: "Flamenco", system-ui;
  background-color: #16697A;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  padding-top: 20px;
  margin-left: 0;
  color: white;
}

h1 {
  font-size: 2rem;
  font-family: "Flamenco", system-ui;
  font-weight: 500;
}

h2, h3, h4 {
  font-family: "Inter", system-ui;
  font-weight: 300;
}

h5 {
  font-size: 1.5rem;
  color: white;
  font-family: "Flamenco", system-ui;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.75rem;
}

#root, .App, .login-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

.App {
  min-height: 100vh;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 1000;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

.sidebar.hidden {
  transform: translateX(-95%);
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar a, .sidebar-user-info {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  background-color: #333;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar a:not(.sidebar-logo):hover, .sidebar-user-info:hover {
  background-color: #444;
}


.sidebar-top, .sidebar-bottom, .sidebar-settings {
  list-style-type: none;
  border-radius: 5px;
}

.sidebar-bottom ul li a {
  cursor: pointer;
  color: #fff;
  background-color: #333;
  list-style-type: none;
}

.sidebar-bottom ul li a:hover, .sidebar-user-info ul li a:hover {
  background-color: #555;
  cursor: pointer;
}

.sidebar .sidebar-user-info:hover {
  cursor: pointer;
}


.sidebar-logo {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-logo img {
  width: 100%;
  height: auto;
}

/* Toggle Button Styling */
.toggle-sidebar {
  position: fixed;
  justify-content: flex-start;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: transform 0.3s ease;
}

.sidebar.hidden .toggle-sidebar {
  transform: translateY(-50%) translateX(calc(100% + 185px));
}

.sidebar.visible .toggle-sidebar {
  transform: translateY(-50%) translateX(calc(100% + 180px));
}

/* Main Content Area */
.content {
  margin-left: 250px;
  padding: 20px;
  background-color: #16697A;
  flex: 1;
  overflow-y: auto;
  height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

.content-full{
  margin-left: 20px;
  background-color: #16697A;
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .sidebar {
    width: 150px;
  }

  .content, .content-full {
    margin-left: 150px;
  }

  .sidebar.hidden {
    transform: translateX(-92%);
  }

  .sidebar.visible {
    transform: translateX(0);
  }

  .sidebar.hidden .toggle-sidebar {
    transform: translateY(-50%) translateX(calc(100% + 85px));
  }

  .sidebar.visible .toggle-sidebar {
    transform: translateY(-50%) translateX(calc(100% + 80px));
  }
}

/* Button Styles */
.btn-primary, .btn-secondary, .btn-danger, .btn-signup, .btn-login, .btn-edit, .btn-delete {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.btn-primary {
  background-color: #17697a;
  border-color: #17697a;
}

.btn-primary:hover {
  background-color: #489fb5;
  border-color: #489fb5;
}

.btn-secondary, .btn-edit,  .btn-signup {
  background-color: #ffa62b;
  border-color: #ffa62b;
}

.btn-secondary:hover , .btn-edit:hover, .btn-signup:hover {
  background-color: #FFA61ECA;
  border-color: #FFA61ECA;
}

.btn-danger, .btn-delete   {
  background-color: #DC3545FF;
  border-color: #DC3545FF;
}

.btn-danger:hover, .btn-delete:hover {
  background-color: #FE4A4AD2;
  border-color: #FE4A4AD2;
}

.btn-login:hover {
  background-color: #17697a;
  border-color: #17697a;
}

/* Footer Styles */
.footer {
  width: calc(100vw + 250px);
  display: flex;
  justify-content: center;
  bottom: 10;
  height: 50px;
  line-height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: small;
  color: white !important;
}

/* Code Styles */
pre code, code {
  white-space: pre-wrap;
  padding: 2px 4px;
  color: #1f1e24;
  background-color: #ececef;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 90%;
}

/* Login Page Styles */
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 5px;
}

input.form-control, input.form-group {
  margin-bottom: 10px;
}

.form-group {
  font-family: "Inter", sans-serif; /* Example font family */
  font-size: 16px; /* Example font size */
  font-weight: 500; /* Example font weight */
  color: #222222; /* Example font color */
  padding: 10px; /* Adjust padding for better visual spacing */
  border-radius: 5px; /* Rounded corners */
}

.form-control {
  font-family: "Inter", sans-serif; /* Example font family */
  font-size: 16px; /* Example font size */
  font-weight: 500; /* Example font weight */
  color: #222222; /* Example font color */
  padding: 10px; /* Adjust padding for better visual spacing */
  border-radius: 5px; /* Rounded corners */
}

.btn-primary, .btn-secondary, .btn-danger  {
  margin-bottom: 10px;
}

/* Sidebar User Info */
.sidebar-user-info {
  display: flex; /* Ensures icon and text appear on the same line */
  align-items: center;
  width: 250px;
  white-space: nowrap;
  text-align: center;
  color: white;
  background-color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
  overflow: hidden;
}

.sidebar-user-info span {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

/* About Page Styles */
.about-container {
  padding: 20px;
  font-size: 1rem;
  font-family: "Inter", system-ui;
  color: white;
  min-height: 100vh;
}

.page-title, .page-description {
  text-align: center;
}

.page-description {
  font-size: 20px;
  margin-top: 20px;
}

.features-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}

.feature {
  margin: 10px;
  flex-basis: 30%;
}

@media (max-width: 768px) {
  .features-container {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    flex-basis: 100%;
    text-align: center;
  }
}


.repository-settings, .profile-settings, .label-settings {
  max-width: 90%;
  margin: 0 auto;
  font-family: "Inter", system-ui;
  align-content: space-evenly;
}

.repository-settings form {
  margin-bottom: 20px;
}

.repository-settings input,
.repository-settings button {
  box-sizing: border-box;
}

.repository-settings ul {
  list-style: none;
  padding: 0;
}

.repository-settings li {
  background-color: #f3f3f3;
  color: #333;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.repo-details-actions {
  display: flex;
  font-size: small;
  justify-content: space-between;
  align-items: center; /* Aligns items vertically centered */
}

.btn-edit, .btn-delete {
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This will keep items vertically aligned */
  width: 100%; /* Ensure container takes full width */
  margin-bottom: 1rem; /* Optional: adds some space below the header */
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Adjust items vertically centered */
  margin-bottom: 15px; /* Space between this row and the next elements */
}

.form-group {
  display: flex;
  flex-direction: column; /* Makes the label input stack vertically */
  margin-right: 20px; /* Optional: space between form groups */
}

label {
  margin-bottom: 5px; /* Space between the label and its input */
}

input[type="text"],
input[type="file"] {
  display: block; /* Makes inputs take full width of their parent .form-group */
}

.label-tiles {
  background-color: #f3f3f3;
  color: #333;
  margin: 5px 0 5px 0;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.label-tile {
  padding: 4px 8px;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.form-flex-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 600px) {
  .form-flex-container {
    flex-direction: column;
  }
}